* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #fff;
  border: none;
}

::-webkit-scrollbar-thumb {
  background-color: #fb8b24;
  border-radius: 10px;
  height: 150px;
  cursor: pointer;
}

body {
  height: auto;
  max-width: 100vw !important;
  overflow-x: hidden !important;
  padding: 0;
  margin: 0;
}

header {
  height: 60px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff9ec;
  padding: 0 100px;
  box-sizing: border-box;
  overflow: hidden;
  transition: all 0.5s;
}
header h1 {
  font-size: 1.5rem;
  font-weight: bold;
}
header .responsive_menu {
  display: none;
}
header ul {
  list-style: none;
  margin-left: 150px;
}
header ul li {
  display: inline-block;
  font-size: 0.98rem;
  color: rgb(85, 85, 85);
  margin: 0 15px;
  font-weight: 600;
}
header .user_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
header .user_buttons .u-btn {
  display: inline-block;
  font-size: 0.95rem;
  padding: 9px 25px;
  border: 0.5px solid #ff7300;
  background-color: transparent;
  border-radius: 10px;
  color: #ff7300;
  font-weight: 600;
  cursor: pointer;
}
header .user_buttons .login-btn {
  background-color: #ff7300;
  color: white;
}

.active_header {
  position: fixed;
  top: 0;
  z-index: 4;
  background-color: #fb8b24;
}
.active_header h1 {
  color: #fff;
}
.active_header ul li {
  color: #fff;
}
.active_header .user_buttons {
  border-color: #fff;
}

main .m_content {
  max-width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}
main .m_content .m_content_about {
  width: 50%;
  height: auto;
  overflow: hidden;
  box-sizing: border-box;
  padding-left: 90px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  overflow: visible;
}
main .m_content .m_content_about .mca_heading {
  display: flex;
  align-items: center;
  gap: 5px;
}
main .m_content .m_content_about .mca_heading h2 {
  font-size: 2rem;
  color: #ff7300;
}
main .m_content .m_content_about .mca_heading span {
  display: inline-block;
  height: 2px;
  width: 30px;
  background-color: #ff7300;
}
main .m_content .m_content_about h1 {
  font-size: 3.5rem;
  font-weight: 600;
  color: #343a40;
}
main .m_content .m_content_about h1 span {
  font-weight: 800;
}
main .m_content .m_content_about p {
  color: gray;
  font-weight: 500;
  width: 70%;
}
main .m_content .mca_form {
  z-index: 1;
  height: 80px;
  width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  border-radius: 20px;
  padding: 0 20px;
  box-sizing: border-box;
  box-shadow: rgba(145, 122, 75, 0.2) 0px 8px 24px;
}
main .m_content .mca_form button {
  padding: 10px 25px;
  background-color: #ff7300;
  color: #fff;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1rem;
}
main .m_content .mca_form .input {
  display: flex;
  gap: 10px;
}
main .m_content .mca_form .input span {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 224, 198, 0.5764705882);
}
main .m_content .mca_form .input span i {
  color: #fb8b24;
}
main .m_content .mca_form .input div {
  width: -moz-max-content;
  width: max-content;
}
main .m_content .mca_form .input div h2 {
  font-size: 1.1rem;
  color: #343a40;
}
main .m_content .mca_form .input div p {
  font-size: 0.8rem;
  text-align: center;
  width: 100%;
  color: #6c757d;
}
main .m_content .mca_form .input2 {
  border-left: 0.2px solid rgba(251, 140, 36, 0.4431372549);
  padding-left: 10px;
}
main .m_content .m_content_visuals {
  width: 50%;
  height: auto;
  position: relative;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 30px;
  box-sizing: border-box;
}
main .m_content .m_content_visuals .mcv_child {
  width: 50%;
  height: 550px;
}
main .m_content .m_content_visuals .child1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 20px;
}
main .m_content .m_content_visuals .child1 .mcv_child1_div1 {
  height: 40%;
  width: 70%;
  background-color: blueviolet;
  border-radius: 30px;
  position: relative;
  background-image: url(./media/pexels-i-brahim-can-dayioglu-59599605-28121019.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .m_content .m_content_visuals .child1 .mcv_child1_div1 span {
  position: absolute;
  bottom: 10%;
  left: -45%;
  display: inline-block;
  border-radius: 20px;
  height: auto;
  width: 130px;
  padding: 10px 20px;
  background-color: rgba(235, 206, 211, 0.281);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
main .m_content .m_content_visuals .child1 .mcv_child1_div1 span h2 {
  font-size: 0.95rem;
  text-align: center;
}
main .m_content .m_content_visuals .child1 .mcv_child1_div1 span p {
  font-size: 0.8rem;
  text-align: center;
}
main .m_content .m_content_visuals .child1 .mcv_child1_div2 {
  height: 45%;
  width: 100%;
  background-color: aqua;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  background-image: url(./media/pexels-pixabay-531035.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .m_content .m_content_visuals .child2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
  overflow: auto;
}
main .m_content .m_content_visuals .child2 .mcv_child2_div1 {
  border-radius: 30px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
  height: 45%;
  background-color: brown;
  background-image: url(./media/ljublianica.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .m_content .m_content_visuals .child2 .mcv_child2_div1 span {
  position: absolute;
  left: 20%;
  top: 30px;
  display: inline-block;
  border-radius: 10px;
  height: auto;
  width: 70px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(236, 206, 211, 0.26);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px 10px;
}
main .m_content .m_content_visuals .child2 .mcv_child2_div1 span h2 {
  font-size: 1rem;
  text-align: center;
}
main .m_content .m_content_visuals .child2 .mcv_child2_div1 span p {
  font-size: 0.8rem;
  text-align: center;
}
main .m_content .m_content_visuals .child2 .mcv_child2_div2 {
  width: 70%;
  height: 40%;
  background-color: chartreuse;
  border-radius: 30px;
  background-image: url(./media/pexels-simonmigaj-1081111.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main .m_about {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 120px;
  overflow: hidden;
  position: relative;
}
main .m_about svg {
  display: none;
}
main .m_about .svgabout_pc {
  display: block;
  height: 400px;
  width: 400px;
  position: absolute;
  right: -5%;
  z-index: -2;
  color: #faf3dd;
}
main .m_about .ma_visuals {
  width: 600px;
  height: 400px;
  position: relative;
}
main .m_about .ma_visuals .ma_visuals_img1 {
  height: 85%;
  width: 60%;
  background-color: chartreuse;
  border-radius: 50px;
  background-image: url(./media/pexels-pixabay-531035.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
main .m_about .ma_visuals .ma_visuals_img2 {
  position: absolute;
  height: 60%;
  width: 40%;
  border-radius: 50px;
  background-color: burlywood;
  bottom: 0;
  left: 30%;
  background-image: url(./media/pexels-simonmigaj-1081111.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
main .m_about .ma_visuals .ma_visuals_img3 {
  position: absolute;
  height: 50%;
  width: 30%;
  background-color: gold;
  top: 10%;
  right: 15%;
  border-radius: 50px;
  z-index: 2;
  background-image: url(./media/ljublianica.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
main .m_about .ma_detail {
  width: 600px;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  gap: 20px;
}
main .m_about .ma_detail .ma_detail_heading {
  display: flex;
  gap: 10px;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
}
main .m_about .ma_detail .ma_detail_heading h1 {
  font-size: 1.5rem;
  color: #fb8b24;
}
main .m_about .ma_detail .ma_detail_heading span {
  height: 2px;
  width: 30px;
  background-color: #fb8b24;
}
main .m_about .ma_detail h1 {
  font-size: 2.5rem;
  font-weight: 600;
  width: 80%;
}
main .m_about .ma_detail h1 span {
  font-weight: 800;
}
main .m_about .ma_detail p {
  color: #6c757d;
}
main .m_about .ma_detail .ma_detail_profile {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  overflow: hidden;
}
main .m_about .ma_detail .ma_detail_profile .madp_card {
  width: 150px;
  height: auto;
  background-color: rgba(253, 226, 255, 0.4941176471);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 5px 10px;
}
main .m_about .ma_detail .ma_detail_profile .madp_card h1 {
  font-size: 1.4rem;
  color: #343a40;
  font-weight: 800;
  text-align: center;
}
main .m_about .ma_detail .ma_detail_profile .madp_card h2 {
  font-size: 1rem;
  color: #6c757d;
  font-weight: 500;
  text-align: center;
}

main .what_we_offer {
  height: auto;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 150px;
  position: relative;
}
main .what_we_offer svg {
  height: 600px;
  z-index: -2;
  width: 700px;
  left: -20%;
  top: -80%;
  position: absolute;
}
main .what_we_offer .wwo_heading {
  width: 350px;
}
main .what_we_offer .wwo_heading h1 {
  font-size: 2.5rem;
  color: #212529;
}
main .what_we_offer .wwo_heading h1 span {
  font-weight: 800;
}
main .what_we_offer .wwo_heading p {
  font-size: 0.95rem;
  color: #6c757d;
}
main .what_we_offer .wwo_heading .wwo_heading_m_heading {
  display: flex;
  gap: 10px;
  align-items: center;
}
main .what_we_offer .wwo_heading .wwo_heading_m_heading h2 {
  font-size: 1.5rem;
  color: #fb8b24;
}
main .what_we_offer .wwo_heading .wwo_heading_m_heading span {
  height: 2px;
  width: 30px;
  background-color: #fb8b24;
}
main .what_we_offer .wwo_offers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
main .what_we_offer .wwo_offers .offer {
  width: 230px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 20px 20px;
  border-radius: 30px;
}
main .what_we_offer .wwo_offers .offer .offer_icon {
  height: 60px;
  width: 65px;
  background-color: #f9dbbd;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .what_we_offer .wwo_offers .offer .offer_icon i {
  font-size: 1.8rem;
  color: #212529;
}
main .what_we_offer .wwo_offers .offer h2 {
  color: #212529;
  font-size: 1.3rem;
  font-weight: 600;
}
main .what_we_offer .wwo_offers .offer p {
  font-size: 0.9rem;
  color: #6c757d;
}
main .what_we_offer .wwo_offers .secondoffer {
  box-shadow: rgba(148, 107, 30, 0.12) 0px 2px 4px 0px, rgba(112, 111, 38, 0.32) 0px 2px 16px 0px;
}

main .top_destination {
  width: 85%;
  background-color: #faf3dd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 20px 0;
  border-radius: 20px;
  margin-top: 100px;
  position: relative;
}
main .top_destination .td_heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
main .top_destination .td_heading .td_m_heading {
  color: #fb8b24;
  font-size: 1.2rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
main .top_destination .td_heading .td_m_heading span {
  width: 30px;
  height: 2px;
  background-color: #fb8b24;
}
main .top_destination .td_heading h1 {
  font-size: 2.7rem;
  color: #212529;
  font-weight: 600;
  text-align: center;
}
main .top_destination .td_heading h1 span {
  font-weight: 800;
}
main .top_destination .td_heading p {
  color: #6c757d;
  font-size: 0.95rem;
  max-width: 80%;
  text-align: center;
}
main .top_destination .td_explore {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
  gap: 10px;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  top: 50px;
  box-shadow: rgba(231, 206, 153, 0.342) 0px 7px 29px 0px;
}
main .top_destination .td_explore .tde_input {
  height: auto;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-left: 0.1px solid rgba(251, 140, 36, 0.3019607843);
}
main .top_destination .td_explore .tde_input span {
  height: 50px;
  width: 50px;
  background-color: rgba(248, 229, 211, 0.5960784314);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
main .top_destination .td_explore .tde_input span i {
  font-size: 1.2rem;
  color: #fb8b24;
}
main .top_destination .td_explore .tde_input .details h2 {
  font-size: 1.1rem;
  color: #343a40;
}
main .top_destination .td_explore .tde_input .details p {
  font-size: 0.7rem;
  color: #6c757d;
}
main .top_destination .td_explore .firstinputtde {
  border-left: none;
}
main .top_destination .td_explore button {
  outline: none;
  border: none;
  background-color: #fb8b24;
  border-radius: 10px;
  font-size: 1rem;
  color: #fff;
  padding: 12px 35px;
}

main .famous_spots {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 330px));
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  position: relative;
}
main .famous_spots .fspot_svg {
  position: absolute;
  left: -20%;
  top: 0;
  height: 400px;
  width: 350px;
  z-index: -4;
}
main .famous_spots .fspot2 {
  right: 0;
  bottom: 0;
}
main .famous_spots .spot {
  height: 270px;
  border: 1px solid rgba(251, 140, 36, 0.2196078431);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0px 7px;
  box-shadow: rgba(247, 168, 94, 0.171) 0px 4px 12px;
  background-color: white;
}
main .famous_spots .spot .spot_thumbnail {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
main .famous_spots .spot .spot_thumbnail .spot_rating {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6039215686);
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 5px 8px;
  border-radius: 5px;
  gap: 5px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  top: 5%;
  right: 5%;
}
main .famous_spots .spot .spot_thumbnail .spot_rating i {
  color: yellow;
  font-size: 0.8rem;
}
main .famous_spots .spot .spot_thumbnail .spot_rating p {
  font-size: 0.8rem;
  color: #fff;
}
main .famous_spots .spot .spot_thumbnail img {
  height: 100%;
  min-width: 100%;
}
main .famous_spots .spot .spot_detail {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
main .famous_spots .spot .spot_detail .sd_heading h2 {
  font-size: 1rem;
  color: #343a40;
}
main .famous_spots .spot .spot_detail .sd_heading span {
  display: flex;
  gap: 5px;
  align-items: center;
}
main .famous_spots .spot .spot_detail .sd_heading span i {
  font-size: 1rem;
  color: #fb8b24;
  border-radius: 50%;
}
main .famous_spots .spot .spot_detail .sd_heading span p {
  font-size: 0.85rem;
  color: #6c757d;
}
main .famous_spots .spot .spot_detail .sd_price {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .famous_spots .spot .spot_detail .sd_price h2 {
  background-color: #faf3dd;
  color: #fb8b24;
  font-size: 1rem;
  font-weight: 500;
  padding: 5px 10px;
  border: 0.1px solid #fb8b24;
  border-radius: 10px;
}

main .discount {
  max-width: 80%;
  border-radius: 80px;
  height: auto;
  background-color: #faf3dd;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
  gap: 20px;
  margin-top: 100px;
}
main .discount h1 {
  font-size: 2.7rem;
  color: #212529;
  font-weight: 600;
  text-align: center;
}
main .discount h1 span {
  font-weight: 800;
}
main .discount p {
  font-size: 1rem;
  color: #6c757d;
  text-align: center;
}
main .discount button {
  background-color: #fb8b24;
  padding: 10px 30px;
  outline: none;
  color: #fff;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
}

main .client_review {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
  gap: 130px;
}
main .client_review .client_review_detail {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main .client_review .client_review_detail .crd_m_heading {
  display: flex;
  align-items: center;
  gap: 10px;
}
main .client_review .client_review_detail .crd_m_heading h2 {
  font-size: 1.5rem;
  color: #fb8b24;
}
main .client_review .client_review_detail .crd_m_heading span {
  height: 2px;
  width: 30px;
  background-color: #fb8b24;
}
main .client_review .client_review_detail h2 {
  color: #212529;
  font-size: 2.2rem;
  font-weight: 600;
}
main .client_review .client_review_detail h2 span {
  font-weight: 800;
}
main .client_review .client_review_detail .client {
  background-color: #faf3dd;
  border-radius: 20px;
  padding: 20px;
}
main .client_review .client_review_detail .client .client_detail {
  display: flex;
  position: relative;
  border-bottom: 0.1px solid rgba(128, 128, 128, 0.425);
  padding: 10px 0;
}
main .client_review .client_review_detail .client .client_detail .client_id {
  display: flex;
  gap: 10px;
}
main .client_review .client_review_detail .client .client_detail .client_id .cd_pic {
  height: 40px;
  width: 40px;
  background-color: brown;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
main .client_review .client_review_detail .client .client_detail .client_id .cd_pic img {
  min-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .client_review .client_review_detail .client .client_detail .client_id .client_name h2 {
  font-size: 1rem;
  color: #212529;
}
main .client_review .client_review_detail .client .client_detail .client_id .client_name h3 {
  font-size: 0.85rem;
  color: #cacfd3;
}
main .client_review .client_review_detail .client .client_detail i {
  font-size: 4rem;
  color: rgba(234, 172, 139, 0.5254901961);
  position: absolute;
  right: 0;
  top: -70%;
}
main .client_review .client_review_detail .client .client_words {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 10px 0;
}
main .client_review .client_review_detail .client .client_words p {
  font-size: 0.95rem;
  color: #6c757d;
}
main .client_review .client_review_detail .client .client_words span {
  display: flex;
  gap: 3px;
}
main .client_review .client_review_detail .client .client_words span i {
  color: yellow;
}
main .client_review .client_review_visual {
  width: 500px;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .client_review .client_review_visual div {
  width: 100%;
  height: 100%;
  position: relative;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
main .client_review .client_review_visual div img {
  height: 100%;
  min-width: 100%;
}
main .client_review .client_review_visual .crvimg {
  position: absolute;
  width: 85%;
  height: 90%;
  right: -15%;
  top: 5%;
  z-index: 2;
  background-color: red;
  opacity: 0.9;
  display: none;
}

footer {
  width: 100vw;
  height: auto;
  overflow: hidden;
  position: relative;
  background-color: #fef6ff;
  margin-top: 100px;
}
footer .footer {
  width: 85%;
  margin: auto;
  height: auto;
}
footer .footer .footer_subscribe {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 0.1px solid rgba(52, 58, 64, 0.2);
}
footer .footer .footer_subscribe h1 {
  font-size: 1.7rem;
  color: #fb8b24;
}
footer .footer .footer_subscribe .f_subscribe {
  width: 250px;
  height: 40px;
  background-color: #fff;
  display: flex;
  border: 0.1px solid rgba(33, 37, 41, 0.2274509804);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
footer .footer .footer_subscribe .f_subscribe input {
  width: 70%;
  height: 100%;
  outline: none;
  border: none;
  background-color: transparent;
}
footer .footer .footer_subscribe .f_subscribe button {
  height: 80%;
  width: 15%;
  background-color: #fb8b24;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
footer .footer .footer_subscribe .f_subscribe button i {
  color: #fff;
  font-size: 1rem;
}
footer .footer .footer_links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 0.1px solid rgba(52, 58, 64, 0.231372549);
}
footer .footer .footer_links .links h2 {
  font-size: 1.2rem;
  font-weight: 650;
  color: #343a40;
  margin-bottom: 15px;
}
footer .footer .footer_links .links ul {
  list-style: none;
}
footer .footer .footer_links .links ul li {
  font-size: 0.96rem;
  color: #6c757d;
  margin: 10px 0;
}
footer .footer .social_links ul {
  display: flex;
  align-items: center;
  gap: 15px;
}
footer .footer .social_links ul li {
  display: inline-block;
}
footer .footer .social_links ul li i {
  font-size: 1.2rem;
  color: #fb8b24;
}
footer .footer .footer_copyright {
  padding: 20px 0;
}
footer .footer .footer_copyright p {
  color: #212529;
  font-size: 0.95rem;
}

@media screen and (max-width: 1250px) {
  main .what_we_offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  main .what_we_offer .wwo_heading {
    max-width: 500px;
    gap: 30px;
  }
  main .what_we_offer .wwo_heading h1 {
    text-align: center;
  }
  main .what_we_offer .wwo_heading .wwo_heading_m_heading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .what_we_offer .wwo_heading p {
    text-align: center;
  }
}
@media screen and (max-width: 1200px) {
  header {
    position: relative;
    justify-content: space-between;
    padding: 10px 20px;
  }
  header h1 {
    font-size: 2rem;
  }
  header ul {
    position: absolute;
    top: 60px;
    right: 5%;
    height: 300px;
    width: 300px;
    background-color: #ff7300;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  header ul li {
    font-size: 1.3rem;
    color: #fff;
    padding: 15px 0;
    width: 100%;
    border-bottom: 0.2px solid rgba(255, 255, 255, 0.322);
    text-align: center;
    font-weight: 500;
  }
  header .user_buttons {
    display: none;
  }
  header .responsive_menu {
    display: block;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  header .responsive_menu span {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #faf3dd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  header .responsive_menu span i {
    color: #fb8b24;
    font-size: 1rem;
  }
  main .m_content {
    width: 100vw;
    position: relative;
  }
  main .m_content .m_content_about h1 {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  main .m_about .ma_detail {
    width: 500px;
    margin-left: 40px;
    padding: 0;
  }
  main .m_about .ma_detail .ma_detail_profile {
    width: -moz-max-content;
    width: max-content;
  }
  main .m_about .ma_detail p {
    width: 70%;
  }
  main .m_about .ma_visuals {
    height: 350px;
    width: 350px;
    overflow: visible;
  }
  main .m_about .ma_visuals .ma_visuals_img1 {
    width: 80%;
  }
  main .m_about .ma_visuals .ma_visuals_img2 {
    width: 60%;
    left: 0%;
    left: -5%;
  }
  main .m_about .ma_visuals .ma_visuals_img3 {
    width: 50%;
    right: 0;
  }
}
@media screen and (max-width: 1100px) {
  main .m_content .m_content_about {
    position: relative;
  }
  main .m_content .m_content_about .mca_form {
    width: 500px;
  }
  main .m_content .m_content_about .mca_form .input {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .m_content .m_content_about .mca_form .input p {
    display: none;
  }
  main .m_content .m_content_visuals .child1 .mcv_child1_div1 {
    width: 90%;
  }
  main .m_content .m_content_visuals .child1 .mcv_child1_div1 span {
    bottom: -20%;
    left: -5%;
    z-index: 3;
  }
  main .m_content .m_content_visuals .child2 .mcv_child2_div2 {
    width: 80%;
  }
  main .top_destination .td_explore {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 20px;
  }
  main .top_destination .td_explore .tde_input {
    justify-content: flex-start;
    border-bottom: 0.1px solid rgba(251, 140, 36, 0.2823529412);
    border-left: none;
    padding: 5px 0;
  }
  main .top_destination .td_explore button {
    grid-column: 1/3;
    font-size: 1.2rem;
    margin-top: 20px;
  }
}
@media screen and (max-width: 950px) {
  main .m_content {
    padding: 0;
    width: 100vw;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.568)), url(./media/family-lakeside-picnic-stockcake.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  main .m_content .m_content_about {
    width: 100%;
    height: auto;
    padding: 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  main .m_content .m_content_about::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
  }
  main .m_content .m_content_about .mca_heading {
    z-index: 2;
  }
  main .m_content .m_content_about h1 {
    z-index: 2;
    text-align: center;
    color: #fff;
  }
  main .m_content .m_content_about p {
    text-align: center;
    color: #fff;
    z-index: 2;
  }
  main .m_content .m_content_visuals {
    display: none;
  }
  main .m_about {
    position: relative;
    margin-top: 200px;
  }
  main .m_about svg {
    display: block;
    position: absolute;
    height: 400px;
    width: 400px;
    z-index: -1;
    left: -10%;
    color: rgba(251, 140, 36, 0.2745098039);
    top: -5%;
  }
  main .m_about .svgabout_pc {
    display: none;
  }
  main .m_about .secondsvg {
    left: 70%;
    top: 30%;
    height: 400px;
    width: 400px;
    z-index: -2;
  }
  main .m_about .ma_visuals {
    display: none;
  }
  main .m_about .ma_detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    margin: 0;
    margin: auto;
  }
  main .m_about .ma_detail h1 {
    font-size: 2.2rem;
    text-align: center;
  }
  main .m_about .ma_detail p {
    width: 90%;
    text-align: center;
  }
  main .m_about .ma_detail .ma_detail_heading h1 {
    font-size: 2rem;
  }
  main .m_about .ma_detail .ma_detail_profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  main .m_about .ma_detail .ma_detail_profile .madp_card {
    height: 80px;
    width: 250px;
  }
  main .m_about .ma_detail .ma_detail_profile .madp_card h1 {
    font-size: 2.5rem;
  }
  main .what_we_offer svg {
    display: none;
  }
  main .discount {
    border-radius: 20px;
  }
  main .discount h1 {
    font-size: 2rem;
    width: 90%;
  }
  main .client_review .client_review_visual {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  main .m_content {
    max-width: 100vw;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-left: 0;
    padding: 0;
    margin: 0;
  }
  main .m_content .m_content_about {
    margin: 0;
    padding: 0;
    padding-left: 0;
    height: 100%;
    max-width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  main .m_content .m_content_about .mca_heading h2 {
    color: #fb8b24;
    font-size: 2rem;
  }
  main .m_content .m_content_about .mca_heading span {
    display: none;
  }
  main .m_content .m_content_about h1 {
    font-size: 2.7rem;
    width: 90%;
  }
  main .m_content .m_content_about h1 span {
    font-weight: 750;
  }
  main .m_content .m_content_about p {
    color: #fff;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    display: none;
  }
  main .m_content .m_content_about .mca_form {
    position: absolute;
    bottom: -20%;
    align-self: center;
    height: 120px;
    overflow: hidden;
    background-color: #f8f9fa;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    box-sizing: content-box;
    gap: 10px;
    border-radius: 15px;
    width: 400px;
  }
  main .m_content .m_content_about .mca_form .input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    padding: 0;
    border: none;
    padding: 5px 10px;
    box-sizing: border-box;
  }
  main .m_content .m_content_about .mca_form .input span {
    background-color: #f8f9fa;
    border: 0.1px solid rgba(52, 58, 64, 0.3764705882);
  }
  main .m_content .m_content_about .mca_form .input span i {
    color: #212529;
  }
  main .m_content .m_content_about .mca_form .input div h2 {
    color: #343a40;
    font-size: 1rem;
    font-weight: 600;
  }
  main .m_content .m_content_about .mca_form .input div p {
    display: inline-block;
    color: gray;
  }
  main .m_content .m_content_about .mca_form button {
    grid-column: 1/3;
    border-radius: 30px;
    background-color: #fb8b24;
    color: #fff;
    font-weight: 600;
  }
  main .what_we_offer .wwosvg {
    display: block;
    width: 400px;
    height: 700px;
    left: -30%;
    top: 0;
  }
}
@media screen and (max-width: 450px) {
  header h1 {
    color: #fb8b24;
  }
  main .discount p {
    font-size: 0.85rem;
  }
  main .m_content {
    height: 500px;
  }
  main .m_content .m_content_about {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .m_content .m_content_about .mca_heading h2 {
    text-align: left;
  }
  main .m_content .m_content_about h1 {
    line-height: 3rem;
    text-align: center;
    font-weight: 850;
    padding: 0 10px;
    font-size: 3rem;
    line-height: 3.2rem;
  }
  main .m_content .m_content_about h1 span {
    font-weight: 850;
  }
  main .m_content .m_content_about .mca_form {
    width: 80%;
    border-radius: 10px;
    background-color: #f8f9fa;
    padding: 15px 30px;
    overflow: visible;
    box-sizing: content-box;
    gap: 10px;
  }
  main .m_content .m_content_about .mca_form .input {
    padding: 0;
  }
  main .m_content .m_content_about .mca_form .input span {
    background-color: #f8f9fa;
    border: 0.1px solid rgba(63, 66, 68, 0.2392156863);
  }
  main .m_content .m_content_about .mca_form .input span i {
    color: #343a40;
  }
  main .m_content .m_content_about .mca_form .input div h2 {
    color: #212529;
  }
  main .m_content .m_content_about .mca_form .input div p {
    font-size: 0.7rem;
    color: #6c757d;
  }
  main .m_content .m_content_about .mca_form button {
    border: 0.2px solid rgba(255, 255, 255, 0.3882352941);
    background-color: #fb8b24;
    color: #fff;
  }
  main .top_destination .td_explore .tde_input {
    width: 160px;
    border-bottom: none;
    gap: 5px;
  }
  main .top_destination .td_explore .tde_input .details h2 {
    font-size: 1rem;
  }
  main .top_destination .td_explore .tde_input span {
    height: 32px;
    width: 32px;
  }
  main .top_destination .td_explore .tde_input span i {
    font-size: 1rem;
  }
  footer .footer .footer_subscribe {
    flex-wrap: wrap;
    justify-content: center;
  }
  footer .footer .footer_copyright p {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */